<div class="footer">
    <div class="container">
        <p><span class="glyphicon glyphicon-copyright-mark"></span>
        If this documentation includes code, including but not limited to, code examples, Cloudera makes this available to you under the terms of the Apache License, Version 2.0, including any required notices. A copy of the Apache License Version 2.0, including any notices, is included herein. A copy of the Apache License Version 2.0 can also be found here: https://opensource.org/licenses/Apache-2.0
        <br/><span class="glyphicon glyphicon-user"></span>
        Contributions, bug reports and feature suggestions welcome.
        <br/><span class="glyphicon glyphicon-question-sign"></span>
        Please post any questions to the
        <a href="https://groups.google.com/a/cloudera.org/forum/?hl=en&amp;fromgroups#!forum/scm-users">user mailing list</a>
        or the <a href="http://community.cloudera.com/">community forum</a>.</p>
    </div>
</div>
